<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Behind The Search is a platform that provides insights and information about  delivering a comprehensive Search Engine Rating course"
    />
    <meta og:title="Behind The Search" content="Behind The Search" />
    <meta
      og:description="Behind The Search is a platform that provides insights and information about  delivering a comprehensive Search Engine Rating course"
    />
    <meta og:image="https://behindthesearch.com/static/images/logo.png" />
    <icon rel="icon" href="{% static 'imgs/logo.png' %}" type="icon" />
    <title>{%block title %} Behind The Search {%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/root.css' %}" />
    {%block extra_css%} {%endblock%}
    <!-- Aos lib -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- spline lib -->

    <!-- lucide lib -->
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <!-- Jquery lib -->
  </head>
  <body>
    {%block content%} {%endblock content%}
  </body>
</html>
