.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
.ntvs
*.njsproj
*.sln
*.sw?
venv

# Python compiled files
__pycache__/
*.py[cod]
*.pyc

# Media files
*.mp4
BehindTheSearch/static/media/
media/
intro.mp4

