<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/">
        </a>
        <h3>Register an Account</h3>
        <p>Create a new developer account</p>
      </div>

      <form action="{% url "register" %}" method="post" class="form auth__form">
        {% csrf_token %}

        {% for field in form  %}
        <!-- Input:Text -->
        <div class="form__field">
          <label for="formInput#text">{{field.label}}: </label>
            {{field}}
            {% for error in field.errors  %}
            <p style = "color: red;"> {{error}}</p>
            {% endfor %}
        </div>
        {% endfor %}



        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
        </div>
      </form>
      <div class="auth__alternative">
        <p>Already have an Account?</p>
        <a href="{% url "login" %}">Log In</a>
    </div> 