/* Google font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --Primary: #8e00a3; /* Primary purple */
  --Accent: #d16adf; /* Accent fuchsia */

  --Background: #1c1c1e; /* Dark mode base */
  --Background-Secondary: #2a2a2e;
  --Background-Tertiary: #3b3b42;

  --Surface: #2d2d30;
  --Surface-Hover: #3a3a3d;

  --Text-Primary: #ffffff;
  --Text-Secondary: #cccccc;
  --Text-Disabled: #777777;

  --Border: #444444;
  --Border-Focus: #d16adf;

  --Button-Hover: #a620b6;
  --Button-Active: #79007f;

  --Link: #d16adf;
  --Link-Hover: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes bganimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
